
#unitip {
position:absolute;
z-index:1000;
top:-1000px;
display:none;
color:#414141;
z-index:2000;
font-size:11px;
line-height:13px;
}

#unitippoint,#unitipmid,#unitipcap {
position:relative;
top:5px;
left:-27px;
width:145px;
display:block;
}

#unitippoint {
background:url(TipPoint.png) no-repeat;
height:22px;
overflow:hidden;
z-index:1001;
behavior:url(iepngfix.htc)
}

#unitipmid {
background:url(TipMid.png) repeat;
width:115px;
height:auto;
margin-top:-2px;
margin-bottom:-3px;
z-index:1002;
padding:0 15px;
behavior:url(iepngfix.htc)

}

#unitipcap {
background:url(TipCap.png) no-repeat;
height:15px;
overflow:hidden;
z-index:1001;
behavior:url(iepngfix.htc)
}

#reegle_maps #unitippoint,#reegle_maps #unitipmid,#reegle_maps #unitipcap {
behavior:url(iepngfix.htc)
}
